<h1>Editing Admin</h1>

<%= render "form", admin: @admin %>

<br>

<div>
  <%= link_to "Show this admin", @admin, class:"btn btn-secondary" %> |
  <%= link_to "Back to admins", admins_path, class:"btn btn-secondary" %>
  <div>
  <%= link_to "Back to users", users_path,class:"btn btn-secondary" %>
</div>
</div>
