<div id="<%= dom_id jobs_app %>">
  <p>
    <strong>Title:</strong>
    <%= jobs_app.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= jobs_app.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= jobs_app.status %>
  </p>

</div>
