
<%= render @jobs_app %>

<div>
  <%= link_to "Back to Jobs Applications", jobs_apps_path, class:"btn btn-secondary" %>
  <%= link_to "Edit Job Application", edit_jobs_app_path(@jobs_app), class:"btn btn-secondary" %>

</br></br>
</div>
